.td{
	vertical-align: top;
}
.area{
	background-color:yellow;
	color:red;
	margin:5px;
	cursor: pointer;
}
.area-select{
	border:2px solid red;
}
.block{
	background-color:yellow;
	color:red;
	cursor:pointer;
	padding: 5px;
}
.block-2{
	background-color:yellow;
	color:red;
	cursor:pointer;
	padding: 5px;
}
.hat-block{
	background-color:yellow;
	color:red;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 5px;
}
.input-s{
	border: none;
}
.input-d{
	border: none;
}
.compile{
	background-color: yellow;
	color: red;
	border-radius: 10px;
	padding: 3px;
	text-decoration:none;
	cursor: pointer;
}
.compile:hover{
	background-color: red;
	color: yellow;
}
.dialog-1{
	position: fixed;
	top: 25%;
	left: 30%;
	background-color:white;
	color: black;
	border:1px solid grey;
	border-radius:10px;
	padding:5px;
}
.dialog-2{
	position: fixed;
	top: 25%;
	left: 30%;
	background-color:white;
	color: black;
	border:1px solid grey;
	border-radius:10px;
	padding:5px;
}
.dialog-3{
	position: fixed;
	top: 30%;
	left: 35%;
	background-color:white;
	color: black;
	border:1px solid grey;
	border-radius:10px;
	padding:5px;
}
.dialog-4{
	position: fixed;
	top: 30%;
	left: 35%;
	background-color:white;
	color: black;
	border:1px solid grey;
	border-radius:10px;
	padding:5px;
}
.dialog-5{
	position: fixed;
	top: 15%;
	left: 35%;
	background-color:white;
	color: black;
	border:1px solid grey;
	border-radius:10px;
	padding:5px;
}